.home {
    width: 450px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input {
    width: 376px;
}

.input2 {
    width: 376px;
}

.b {
    float: right;
}

.c {
    display: inline;
    margin-left: 35px;
}

.but1 {
    display: inline;
    margin-left: 320px;
}

.but {
    width: 100px;
}