.home {
    width: 450px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input {
    width: 376px;
}

.input2 {
    width: 376px;
}

.b {
    float: right;
}

.c {
    display: inline;
    margin-left: 35px;
}

.but1 {
    display: inline;
    margin-left: 275px;
}

.but2{
    display: inline;
    margin-left: 200px;
}

.but {
    width: 100px;
}

.inputsignup {
    width: 376px;
    display: inline;
}

.inputsignup1 {
    width: 300px;
    display: inline;
    margin-left: 30px;
}

.inputsignup2 {
    width: 300px;
    display: inline;
    margin-left: 10px;
}

.inputsignup3 {
    width: 300px;
    display: inline;
    margin-left: 120px;
}

.inputsignup4 {
    width: 300px;
    display: inline;
    margin-left: 118px;
}

.inputsignup5 {
    width: 300px;
    display: inline;
    margin-left: 99px;
}

.inputsignup6 {
    width: 300px;
    display: inline;
    margin-left: 130px;
}

.inputsignup7 {
    width: 300px;
    display: inline;
    margin-left: 70px;
}