th,
td {
  color: white;
}

.tableRow:not(.selectedRow):hover {
  background-color: rgb(30, 64, 78);
  cursor: pointer;
}

.selectedRow {
  background-color: rgb(42, 89, 109);
}

.active > .page-link {
  background-color: rgb(42, 89, 109) !important;
  color: white !important;
  border-color: white !important;
}

.react-bootstrap-table table {
  table-layout: auto !important;
}

.react-bootstrap-table {
  height: 80vh;
  overflow: auto;
}

th {
  border-collapse: separate !important;
  position: sticky;
  top: 0;
  background-color: #0b6c96ff;
}
